article {
    border: 3px dashed black;
    margin: 20px;
    padding: 20px;
    background-color: rgb(242, 213, 178);
}

#map, #reduce, #filter, #spread {
    border: 3px dashed black;
    margin: 20px;
    padding: 20px;
}

#map {
    background-color: rgb(159, 233, 149);
}
#reduce {
    background-color: rgb(202, 109, 216);
}
#filter {
    background-color: rgb(231, 231, 104);
}
#spread {
    background-color: rgb(132, 156, 233);
}
